<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Article Title">
    <meta property="og:description" content="A brief description of the article.">
    <meta property="og:image" content="https://example.com/path/to/thumbnail.jpg">
    <meta property="og:url" content="https://example.com/article">
    <meta property="og:type" content="article">
    
    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Article Title">
    <meta name="twitter:description" content="A brief description of the article.">
    <meta name="twitter:image" content="https://example.com/path/to/thumbnail.jpg">
    <meta name="twitter:url" content="https://example.com/article">
    
    <!-- General Meta Tags -->
    <meta name="description" content="A brief description of the article.">
    <link rel="canonical" href="https://example.com/article">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <title>Title</title>
    <link rel="stylesheet" href="/app.min.css">
</head>
<body>
    <%- include("./partials/header") %>
    <%- include("./partials/editNav.ejs") %>
    <%- body %>
    <%- include("./partials/contactDialog") %>
    <%- include("./partials/footer") %>
    <%- include("./partials/notification") %>
    <%- include("./partials/deleteDialog") %>
    <%- include("./partials/loadingDialog") %>
    <script src="/bootstrap.min.js"></script>
    <script>

        // delete dialog function ------ User must be signedIn to delete a post
            let deleteModal = new bootstrap.Modal(document.getElementById('deletePostModal'), {
                keyboard: false
            })
            const deleteInput = document.getElementById("delete-input");
            const deleteButton = document.getElementById("delete-dialog-confirmation-button");
            deleteInput.addEventListener("input", (e) => {
                if (deleteInput.validity.patternMismatch || e.target.value.length < 1) {
                    deleteButton.setAttribute("disabled", "true");
                } else {
                    deleteButton.removeAttribute("disabled");
                }
            })
            deleteButton.addEventListener("click", () => {
                // redirect to post page with notification. remember to add invalidate notification above 11 minutes
                
            })


        // toast function
        <% if(fadingNotification){ %>
            const fadingToast = document.getElementById('fadingToast')
            const toastFadeBootstrap = bootstrap.Toast.getOrCreateInstance(fadingToast)
            toastFadeBootstrap.show();
        <% } %>
        <% if(staticNotification){ %>
            const staticToast = document.getElementById('staticToast');
            const toastStaticBootstrap = bootstrap.Toast.getOrCreateInstance(staticToast)
            toastStaticBootstrap.show();
        <% } %>
    </script>
</body>
</html>