<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="<%=post.title%>">
    <meta property="og:description" content="<%=post.description%>">
    <meta property="og:image" content="https://res.cloudinary.com/kkenny/image/upload/q_auto,ar_1.91:1,q_auto,w_1200,g_auto,c_lfill/<%=post.featuredImg%>">
    <meta property="og:url" content="<%=domain+path%>">
    <meta property="og:type" content="<%=post.postType || 'course'%>">
    
    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%=post.title%>">
    <meta name="twitter:description" content="<%=post.description%>">
    <meta name="twitter:image" content="https://res.cloudinary.com/kkenny/image/upload/q_auto,ar_2:1,q_auto,g_auto,w_1200,c_lfill/<%=post.featuredImg%>">
    <meta name="twitter:url" content="<%=domain+path%>">
    
    <!-- General Meta Tags -->
    <meta name="description" content="<%=post.description%>">
    <link rel="canonical" href="<%=domain+path%>">

    <title>Title</title>
    <link rel="stylesheet" href="/app.min.css">
</head>
<body>
    <%- include("./partials/header") %>
    <%- include("./partials/editNav.ejs") %>
    <%- body %>
    <%- include("./partials/contactDialog") %>
    <%- include("./partials/footer") %>
    <%- include("./partials/notification") %>
    <%- include("./partials/deleteDialog") %>
    <%- include("./partials/loadingDialog") %>
    <script src="/bootstrap.min.js"></script>
    <script>

        // delete dialog function ------ User must be signedIn to delete a post
            let deleteModal = new bootstrap.Modal(document.getElementById('deletePostModal'), {
                keyboard: false
            })
            const deleteInput = document.getElementById("delete-input");
            const deleteButton = document.getElementById("delete-dialog-confirmation-button");
            deleteInput.addEventListener("input", (e) => {
                if (deleteInput.validity.patternMismatch || e.target.value.length < 1) {
                    deleteButton.setAttribute("disabled", "true");
                } else {
                    deleteButton.removeAttribute("disabled");
                }
            })
            deleteButton.addEventListener("click", () => {
                // redirect to post page with notification. remember to add invalidate notification above 11 minutes
                
            })

        // toast function
        <% if(fadingNotification){ %>
            const fadingToast = document.getElementById('fadingToast')
            const toastFadeBootstrap = bootstrap.Toast.getOrCreateInstance(fadingToast)
            toastFadeBootstrap.show();
        <% } %>
        <% if(staticNotification){ %>
            const staticToast = document.getElementById('staticToast');
            const toastStaticBootstrap = bootstrap.Toast.getOrCreateInstance(staticToast)
            toastStaticBootstrap.show();
        <% } %>

        <%if(path.includes("job")){%>
            let jobForm = document.getElementById("job-form");
            let jobFormSubmitButton = document.querySelector(".job-form-submit-btn")
            jobForm.addEventListener("submit", (e)=>{
                e.preventDefault();

                // Disable the form elements
                Array.from(jobForm.elements).forEach(element => {
                    element.disabled = true;
                });

                jobFormSubmitButton.innerHTML=`
                    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                    <span role="status">Sending...</span>
                `
            })
        <%}%>
    </script>
</body>
</html>