<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="<%=post.title%>">
    <meta property="og:description" content="<%=post.description%>">
    <meta property="og:image" content="<%=cloudname%>/q_auto,ar_1.91:1,q_auto,w_1200,g_auto,c_lfill/<%=post.featuredImg%>">
    <meta property="og:url" content="<%=domain+path%>">
    <meta property="og:type" content="<%=post.postType || 'course'%>">
    
    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%=post.title%>">
    <meta name="twitter:description" content="<%=post.description%>">
    <meta name="twitter:image" content="<%=cloudname%>/q_auto,ar_2:1,q_auto,g_auto,w_1200,c_lfill/<%=post.featuredImg%>">
    <meta name="twitter:url" content="<%=domain+path%>">
    
    <!-- General Meta Tags -->
    <meta name="description" content="<%=post.description%>">
    <link rel="canonical" href="https://fnmiloveacademy.com">

    <title>Title</title>
    <link rel="stylesheet" href="/app.min.css">
</head>
<body>
    <%- include("./partials/header") %>
    <%- include("./partials/editNav.ejs") %>
    <%- body %>
    <%- include("./partials/contactDialog") %>
    <%- include("./partials/footer") %>
    <%- include("./partials/notification") %>
    <%- include("./partials/deleteDialog") %>
    <%- include("./partials/loadingDialog") %>
    <script src="/bootstrap.min.js"></script>
    <%if(!post.postType){%>
        <script src="https://checkout.flutterwave.com/v3.js"></script>
    <%}%>
    <script>
        // toast function
        const fadingToast = document.getElementById('fadingToast')
        const toastFadeBootstrap = bootstrap.Toast.getOrCreateInstance(fadingToast)
        const fadeMessage = document.getElementById("fade-toast-msg")
        const fadeTime = document.getElementById("fade-toast-time")
        // toastFadeBootstrap.show();
        const staticToast = document.getElementById('staticToast');
        const toastStaticBootstrap = bootstrap.Toast.getOrCreateInstance(staticToast)
        const staticMessage = document.getElementById("static-toast-msg")
        const staticTime = document.getElementById("static-toast-time")
        // toastStaticBootstrap.show();

        <%if (!post.postType) {%>
            let coursePaymentButtons = document.querySelectorAll(".course-payment-button");
            for (const button of coursePaymentButtons) {
                button.addEventListener("click", (e)=>{
                    FlutterwaveCheckout({
                        public_key: 'FLWPUBK_TEST-9a9e8ce2d99ba7d4d81b9456347bdbc3-X',
                        tx_ref: 'course-48981487343MDI0NzMx',
                        amount: 350000,
                        currency: 'NGN',
                        payment_options: 'card, mobilemoneyghana, ussd',
                        redirect_url: 'https://glaciers.titanic.com/handle-flutterwave-payment',
                        meta: {
                            consumer_id: 23,
                            consumer_mac: '92a3-912ba-1192a',
                        },
                        customer: {
                            email: 'rose@unsinkableship.com',
                            phone_number: '08102909304',
                            name: 'Rose DeWitt Bukater',
                        },
                        customizations: {
                            title: 'Fnmilove Academy',
                            description: `Payment for course: <%=post.title%>`,
                            logo: '<%=domain%>/logo.png',
                        },
                    });
                })
            }
        <%}%>

        <%if(post.postType === "job"){%>
            let jobForm = document.getElementById("job-form");
            let jobFormSubmitButton = document.querySelector(".job-form-submit-btn")
            jobForm.addEventListener("submit", (e)=>{
                e.preventDefault();

                // Disable the form elements
                Array.from(jobForm.elements).forEach(element => {
                    element.disabled = true;
                });

                jobFormSubmitButton.innerHTML=`
                    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                    <span role="status">Sending...</span>
                `
            })
        <%}%>

        // delete dialog function ------ User must be signedIn to delete a post
            let deleteModal = new bootstrap.Modal(document.getElementById('deletePostModal'), {
                keyboard: false
            })
            const deleteInput = document.getElementById("delete-input");
            const deleteButton = document.getElementById("delete-dialog-confirmation-button");
            deleteInput.addEventListener("input", (e) => {
                if (deleteInput.validity.patternMismatch || e.target.value.length < 1) {
                    deleteButton.setAttribute("disabled", "true");
                } else {
                    deleteButton.removeAttribute("disabled");
                }
            })
            deleteButton.addEventListener("click", async() => {
                try {
                    const req = await fetch("/api/<%=post.postType || 'course'%>s/<%=post._id%>", {
                        method: "DELETE"
                    })
                    fadeMessage.textContent = "<%=post.postType || 'course'%> deleted"
                    toastFadeBootstrap.show()
                    setTimeout(() => {
                        location.href = "/<%=post.postType ? 'blog' : 'courses' %>"
                    }, 1000);
                } catch (error) {
                    fadeMessage.textContent = res
                    toastStaticBootstrap.show()
                }
            })
    </script>
</body>
</html>