<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Title</title>
    <link rel="stylesheet" href="app.min.css">
</head>
<body>
    <%- include("./partials/header") %>
    <%- body %>
    <%- include("./partials/contactDialog") %>
    <%- include("./partials/footer") %>
    <%- include("./partials/notification") %>
    <script src="bootstrap.min.js"></script>
    <script>
        // toast function
        <% if(fadingNotification){ %>
            const fadingToast = document.getElementById('fadingToast')
            const toastFadeBootstrap = bootstrap.Toast.getOrCreateInstance(fadingToast)
            toastFadeBootstrap.show();
        <% } %>
        <% if(staticNotification){ %>
            const staticToast = document.getElementById('staticToast')
            const toastStaticBootstrap = bootstrap.Toast.getOrCreateInstance(staticToast)
            toastStaticBootstrap.show();
        <% } %>
    </script>
</body>
</html>